<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for utulek_pes in pes %}
                <tr>
                    <td>{{ utulek_pes.id }}</td>
                    <td>{{ utulek_pes.jmeno_psa }}</td>
                    <td>{{ utulek_pes.rasa }}</td>
                    <td>{{ utulek_pes.popis }}</td>
                    <td>{{ utulek_pes.utule_nazev_id }}</td>
                    <td>
                        {% if utulek_pes.base64_image %}
                            <img src="data:image/jpeg;base64,{{ utulek_pes.base64_image }}" alt="Dog Image">
                        {% else %}
                            No Image
                        {% endif %}
                    </td>
                    <td>{{ utulek_pes.vek }}</td>
                    <td>{{ utulek_pes.ockovani }}</td>
                    <td>{{ utulek_pes.pohlavi }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
