<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pes List</title>
</head>
<body>

<h1>List of Dogs</h1>

{% for Pes in pes_records %}
    <div>
        <h2>{{ Pes.jmeno }}</h2>
        <p>Rasa: {{ Pes.rasa }}</p>
        <p>Vek: {{ Pes.vek }}</p>
        <p>Ockovani: {{ Pes.ockovani }}</p>
        <p>Pohlavi: {{ Pes.pohlavi }}</p>
        <p>Velikost: {{ Pes.velikost }}</p>
        <p>Stav: {{ Pes.stav }}</p>
        <p>Utulek: {{ Pes.utulek_nazev }}</p>
        <p>Popis: {{ Pes.popis }}</p>

        {% if Pes.fotografie %}
            <img src="data:image/jpeg;base64,{{ Pes.fotografie|b64encode }}" alt="{{ Pes.jmeno }} Image">
        {% else %}
            <p>No Image Available</p>
        {% endif %}
    </div>
    <hr>
{% endfor %}

</body>
</html>
