<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Pes</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Add Pes</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        {{ form.ockovani.label }} {{ form.ockovani }}
        {{ form.jmeno.label }} {{ form.jmeno }}
        {{ form.rasa.label }} {{ form.rasa }}
        {{ form.vek.label }} {{ form.vek }}
        {{ form.velikost.label }} {{ form.velikost }}
        {{ form.stav.label }} {{ form.stav }}
        {{ form.pohlavi.label }} {{ form.pohlavi }}
        {{ form.popis.label }} {{ form.popis }}
        {{ form.utulek_nazev.label }} {{ form.utulek_nazev }}
        {{ form.fotografie.label() }} {{ form.fotografie }}
        {{ form.submit() }}
    </form>
    {% if form.jmeno.errors %}
        <div class="invalid-feedback">
            {% for error in form.jmeno.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% endif %}
    {% if form.rasa.errors %}
    <div class="invalid-feedback">
        {% for error in form.rasa.errors %}
            <span>{{ error }}</span>
        {% endfor %}
    </div>
{% endif %}
</body>
</html>
