<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Pes</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1>Edit Pes</h1>
        <form method="post" action="{{ url_for('edit_pes', id=pes.idpes) }}" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            {{ form.ockovani.label }} {{ form.ockovani }}
            {{ form.jmeno.label }} {{ form.jmeno(class="form-control", required="required") }}
            {% if form.jmeno.errors %}
            <div class="">
                {% for error in form.jmeno.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {% endif %}
            {{ form.rasa.label }} {{ form.rasa(class="form-control", required="required") }}
            {% if form.rasa.errors %}
            <div class="">
                {% for error in form.rasa.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {% endif %}
            {{ form.vek.label }} {{ form.vek }}
            {{ form.velikost.label }} {{ form.velikost }}
            {{ form.stav.label }} {{ form.stav }}
            {{ form.pohlavi.label }} {{ form.pohlavi }}
            {{ form.popis.label }} {{ form.popis }}
            {{ form.utulek_nazev.label }} {{ form.utulek_nazev }}
            {{ form.fotografie.label }} {{ form.fotografie }}
            {{ form.submit() }}



        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
