<!-- templates/mesta.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seznam měst</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="bg-secondary">
    <div class="jumbotron-fluid bg-dark pt-5">
        <h1 class="text-white text-center">Psinec</h1>
        {% include 'navbar.html' %}
    </div>
    <div class="container mt-4 mb-5">

        <h1 class="mb-5">Seznam měst</h1>
        <form method="GET" action="{{ url_for('show_mesta') }}" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search"
                value="{{ request.args.get('search', '') }}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="list-group mt-3">
            <form method="POST" action="{{ url_for('add_mesto') }}">
                {{ form.csrf_token }}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        {{ form.nazev.label }} {{ form.nazev }}
                        {{ form.kraj.label }} {{ form.kraj }}
                        {{ form.psc.label }} {{ form.psc }}
                    </div>
                    <div>
                        {{ form.submit() }}
                    </div>
                </li>
            </form>
        </ul>
        <ul class="list-group mt-5">
            {% for mesto in mesta_entries[::-1] %}
            <li class="list-group-item d-flex justify-content-between align-items-center mt-2">
                <span>{{ mesto.nazev }} - {{ mesto.kraj }} - {{ mesto.psc }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <form method="post" class="p-1 ml-auto " action="{{ url_for('delete_mesto', nazev=mesto.nazev) }}">
                    {{ form.csrf_token }}
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
                <a href="{{ url_for('edit_mesto', nazev=mesto.nazev) }}" class="btn btn-warning btn-sm">Edit</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% include 'footer.html' %}
    <!-- Add Bootstrap JS and Popper.js scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
