<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pes</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container mt-4">
        <form method="GET" action="{{ url_for('show_pes') }}" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search"
                value="{{ request.args.get('search', '') }}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <form method="POST" action="">
            {{ form.csrf_token }}
            {{ form.vek.label }} {{ form.vek }}
            {{ form.velikost.label }} {{ form.velikost }}
            {{ form.pohlavi.label }} {{ form.pohlavi }}
            {{ form.ockovani.label }} {{ form.ockovani }}
            {{ form.stav.label }} {{ form.stav }}
            {{ form.utulek_nazev.label }} {{ form.utulek_nazev }}
            {{ form.submit() }}
            <a href="{{ url_for('show_pes') }}" class="btn btn-secondary my-2 my-sm-0 ml-2">Clear Filters</a>
        </form>

        <h1>Seznam psů</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Jméno</th>
                    <th>Rasa</th>
                    <th>Věk</th>
                    <th>Útulek</th>
                    <th>Úpravy</th>
                </tr>

            </thead>
            <tbody>
                {% for pes in pes_entries %}
                <tr>
                    <td>{{ pes.jmeno }}</td>
                    <td>{{ pes.rasa }}</td>
                    <td>{{ pes.vek }}</td>
                    <td>{{ pes.velikost }}</td>
                    <td>{{ pes.utulek_nazev }}</td>
                    <td>
                        {% if pes.fotografie %}
                        <div class="rounded-circle">
                            <img src="{{ url_for('static', filename='img/' + pes.fotografie) }}" alt="Dog Picture"
                                style="width: 200px; height: 200px; object-fit: cover">
                        </div>
                        {% endif %}
                    </td>

                    <td>
                        <!-- Delete button form -->
                        <form method="post" action="{{ url_for('delete_pes', id=pes.idpes) }}" style="display: inline;">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                        <!-- Edit button link -->
                        <a href="{{ url_for('edit_pes', id=pes.idpes) }}" class="btn btn-warning btn-sm ml-2">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Add Bootstrap JS and Popper.js scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>