<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pes</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-4">
        <h1>Seznam psů</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Jméno</th>
                    <th>Rasa</th>
                    <th>Věk</th>
                    <th>Útulek</th>
                    <th>Úpravy</th>
                </tr>
            </thead>
            <tbody>
                {% for pes in pes_entries %}
                <tr>
                    <td>{{ pes.jmeno }}</td>
                    <td>{{ pes.rasa }}</td>
                    <td>{{ pes.vek }}</td>
                    <td>{{ pes.utulek_nazev }}</td>
                    {% if pes.fotografie %}
                    <img src="{{ url_for('static', filename='uploads/' + pes.fotografie) }}" alt="Dog Image">
                    {% endif %}
                    <td>
                        <!-- Delete button form -->
                        <form method="post" action="{{ url_for('delete_pes', id=pes.idpes) }}" style="display: inline;">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                        <!-- Edit button link -->
                        <a href="{{ url_for('edit_pes', id=pes.idpes) }}" class="btn btn-warning btn-sm ml-2">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Add Bootstrap JS and Popper.js scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>